@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    font-family: 'Patrick Hand', cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background: rgb(130,193,39);
    background: linear-gradient(299deg, rgba(130,193,39,1) 19%, rgba(110,195,34,1) 31%, rgba(175,253,45,1) 100%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{text-decoration: none;
color: white;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
padding: 5px;
}


.navigation a{
    color:white;
    font-size: 1.7em;
    font-weight: 500;
    padding-left: 29px;
    text-decoration: none;
    transition: 0.7s ease;
    
}

.navigation a:hover{color: blueviolet;
transform: scale(1.1);

}

section{padding: 100px 200px;}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(IMAGES/88350.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.main h2{
 color: white;
font-size: 44PX;
font-weight: 200;
}


.main h2 span{ display: inline-block;
    margin-top: 10px;
    font-size: 1em;
font-weight: 800;
color: white;
 }

 .main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px ;
    margin-top: 10px;
    margin-bottom: 30px;
 }

 .main-btn{
  color: white;
  background: rgb(130,193,39);
background: linear-gradient(299deg, rgba(130,193,39,1) 19%, rgba(110,195,34,1) 31%, rgba(175,253,45,1) 100%);
  text-decoration: none;
  font-size: 1.1em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 40PX;
transition: 0.7s ease ;
 }

.main-btn:hover {
    background-color: blue;
    transform: scale(1.1);
}

.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title { 
   
   color: white;
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    margin-bottom: 50PX;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.card{
     background-color: white;
     width: 21.25em;
     box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
     border-radius: 20px;
     padding: 25px;
     margin: 15px;
     transition: 0.7s ease ;

    }

.card:hover{
    transform: scale(1.1);
}    


.icon{
    color: greenyellow;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color:greenyellow;
    font-weight: 700;
    margin: 10px;


}

.contentn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.projects{
    background: rgb(130,193,39);
    background: linear-gradient(299deg, rgba(130,193,39,1) 19%, rgba(110,195,34,1) 31%, rgba(175,253,45,1) 100%);}

.project-card{
    background-color: white ;
    border: 1px solid white;
    min-height: 14em ;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
}


.project-card:hover{
    transform:  scale(1.1);
}

.project-image img{
    width: 100%;

}

.project-image:hover .project-image{
    opacity: 0.9;
}

.info-project{
    padding: 1em;
 }

 .project-ct{
    font-size: 0.8em;
    color: black;
 }

 .project-title{
    display: flex;
    justify-content: space-between;         
    font-weight: 800;
    margin-top: 10px;
 }

 .more-details{
    text-decoration: none;
    color: blueviolet;
 }

 .more-details:hover{
    color: red;
 }

.footer{
    text-align: center;
    padding: 2em;
    background: rgb(130,193,39);
    background: linear-gradient(299deg, rgba(130,193,39,1) 19%, rgba(110,195,34,1) 31%, rgba(175,253,45,1) 100%);    color: white;
display: flex;
justify-content: space-between;
}

.footer-title{
    font-size: "1.3em";
    font-weight: 600;
}

.footer-title-span{
  color: blueviolet;  
}


.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    
}


@media (max-width:1023px){
    header
    {
        padding:  12px 20px;

    }
.navigation{
    padding-left: 10px;
}

.title{
    font-size: 1.8em;
}

section{
   padding: 80px 20px;
}

.main-content h2{
 font-size: 1em;
}

.main-content h3{
    font-size: 1.6em;
}

.content{
    flex-direction: column;
    align-items: center;
}

}

@media (max-width:641px){
  body{
    font-size: 12px;
  }

  .main-content h2{
    font-size:  0.8em;
  }

  .main-content h3{
    font-size: 1.4em;
  }
}